{% set initialSlide = 0 %}

{% for media in package.media %}
  {% if media.featured == true %}
   {% set initialSlide = loop.index0 %}
  {% endif %}
{% endfor %}

<div class="media-slider">
  <swiper-container
    class="slider"
    slides-per-view="1"
    initial-slide="{{ initialSlide }}"
    speed="200"
    navigation="true"
    round-lengths="true"
  >
    {% for media in package.media %}
      <swiper-slide class="slide">
        {% if media.type == 'image' %}
          <img
            class="slide-image"
            src="{{ media.url }}"
            alt="{{ package.name }}"
          />
        {% elseif media.type == 'video' %}
          <iframe
            class="slide-frame"
            src="https://www.youtube.com/embed/{{ media.url }}?color=white&amp;rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        {% endif %}
      </swiper-slide>
    {% endfor %}
  </swiper-container>

  <ul class="thumbs">
    {% for media in package.media %}
      <li class="thumb">
        {% if media.type == 'image' %}
          <img
            class="thumb-image"
            src="{{ media.url }}"
            alt="{{ package.name }}"
          />
        {% elseif media.type == 'video' %}
          <div class="thumb-youtube">
            <img
              src="https://i.ytimg.com/vi_webp/{{ media.url }}/maxresdefault.webp"
              alt="YouTube video"
            />
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <button class="open-lightbox">
    {{ __('View fullscreen') }}
  </button>
</div>

